@model List<Produto>

<!DOCTYPE html>
<head>
    <title>Index de Produto</title>
</head>
<body>
    <h1>Lista de Produtos</h1>

    <!-- "arroba" usado para utilizar o c# no html -->
    <table>
        @foreach(Produto p in Model)
        {
        <tr>
            <td>@p.ProdutoId</td>
            <td>@p.Nome</td>
            <td>@p.Preco</td>
            <td><a href="/produto/details/@p.ProdutoId">Detalhes</a></td>
        </tr>
        }
    </table>

    <a href="/produto/create">Adicionar</a>

</body>
</html>